/* Heading 2 */

position: absolute;
width: 111px;
height: 30px;
left: 80px;
top: 2221.46px;

/* Heading / H2 24 (Bold) */
font-family: 'Circular Std';
font-style: normal;
font-weight: 700;
font-size: 24px;
line-height: 30px;
/* identical to box height, or 125% */
letter-spacing: -0.01em;

/* black */
color: #0B1F4D;

