@import '/src/utils/global.module.scss';

.title {
  @extend .paragraph-2;
  color: $brand-color-black;
  margin-bottom: 12px;
}

.priceTag {
  padding: 4px;
  padding-top: 8px;
  padding-bottom: 8px;
  width: 46%;
  text-align: center;
  cursor: pointer;
  border-radius: 2px;
  margin: 2px;

  .text {
    @extend .paragraph-3;
  }
}

.checked {
  background-color: $brand-color-blue;

  .text {
    color: $gray-00;
  }
}