@import '/src/utils/global.module.scss';

.container {
  background-color: transparent;
  padding: 36px 60px 0 60px;
  height: auto;
  display: flex;
  flex-direction: column;
  
  .name {
    @extend .heading-2;
    color: $brand-color-black;
  }
  
  .location {
    color: $brand-color-blue;
    font-size: 24px;
    display: flex;
    align-items: center;
    margin-bottom: 34px;


    article {
      @extend .paragraph-3;
      color: $support-05;
    }
  }

  .imageContainer {
    position: relative;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .image {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: fill;
  }
  
  .buttonContainer {
    position: absolute;
    right: 0;
    top: 0;
    padding: 8px;
  }

  .header {
    display: flex;
    :nth-child(1) {
      margin-right: 10px;
    }
  }
}


