@import '/src/utils/global.module.scss';

.container {
  background-color: $gray-00;
  padding: 24px;

  .inputContent {
    display: flex;
    align-items: baseline;

    div {
      width: 100%;
    }

    svg {
      color: $brand-color-blue;
      margin-right: 14px;
    }

    article {
      color: $brand-color-black;
      font-weight: 700;
      @extend .paragraph-2;
    }
    .ticketQuantity {
      color: $gray-40;
      @extend .paragraph-2;
      font-weight: 500;
    }
  }
  

  .ticketInput {
    cursor: pointer;
  }

  .priceInfo {
    div {
      display: flex;
      justify-content: space-between;
      color: $gray-40;
      @extend .paragraph-2;
      margin-bottom: 10px;
    }
  }

  .buyTicket {
    display: flex;
    flex-direction: column;
    align-items: center;
    div {
      display: flex;
      justify-content: space-between;
      width: 100%;
      margin-bottom: 24px;

      :nth-child(1) {
        @extend .paragraph-2;
        font-weight: 700;
        color: $brand-color-black;
      }

      :nth-child(2) {
        @extend .heading-2;
        color: $brand-color-blue;
      }
    }
  }
}