
$brand-color-blue: #4070F4;

$brand-color-black: #0A2156;

$gray-00: #FFFFFF;

$gray-10: #E7E9ED;

$gray-20: #CED2DB;

$gray-30: #B6BCC9;

$gray-40: #9EA5B8;

$gray-50: #858FA6;

$gray-70: #556282;

$gray-100: #0B1F4D;

$support-03: #FFAD0D;

$support-02: #0BB07B;

$support-05: #3C4C70;

.paragraph-1 {
  font-family: 'Circular Book';
  letter-spacing: 0;
  line-height: 26px;
  font-size: 20px;
}

.paragraph-2 {
  font-family: 'Circular Book';
  letter-spacing: 0;
  line-height: 16px;
  font-size: 16px;
}

.paragraph-3 {
  font-family: 'Circular Book';
  letter-spacing: 0;
  line-height: 18px;
  font-size: 14px;
}

.paragraph-4 {
  font-family: 'Circular Book';
  letter-spacing: 0;
  line-height: 22px;
  font-size: 12px;
}

.heading-1 {
  font-family: 'Circular Bold';
  letter-spacing: -2px;
  line-height: 45px;
  font-size: 40px;
}

.heading-2 {
  font-family: 'Circular Bold';
  letter-spacing: -1px;
  line-height: 30px;
  font-size: 24px;
}

.heading-3 {
  font-family: 'Circular Medium';
  letter-spacing: 0;
  font-style: normal;
  font-size: 22px;
  line-height: 30px;
}

.shadow-s {
  box-shadow: 0px 2px 4px rgba(11, 31, 77, 0.08);
}

