
$brand-color-blue: #4070F4;

$brand-color-black: #0A2156;

$gray-00: #FFFFFF;

$gray-10: #E7E9ED;

$support-03: #FFAD0D;

.paragraph4 {
  font-family: 'Circular Book';
  letter-spacing: 0;
  line-height: 22px;
  font-size: 16px;
}

.paragraph2 {
  font-family: 'Circular Book';
  letter-spacing: 0;
  line-height: 16px;
  font-size: 16px;
}

.paragraph3 {
  font-family: 'Circular Book';
  letter-spacing: 0;
  line-height: 18px;
  font-size: 14px;
}

.Heading-2 {
  font-family: 'Circular Bold';
  letter-spacing: -1;
  line-height: 30px;
  font-size: 24px;
}

.Heading-3 {
  font-family: 'Circular Medium';
  font-style: normal;
  font-weight: 500;
  font-size: 22px;
  line-height: 30px;
}

.shadow-s {
  box-shadow: 0px 2px 4px rgba(11, 31, 77, 0.08);
}

